<div class="container">
  <div class="brand text-xl text-weight-bold">
    <h1>facebook</h1>
  </div>

  <div class="login-wrapper">
    <pre class="login-slogan">Facebook helps you connect and share
with the people in your life.</pre>
  </div>
</div>