<nav class="login-navbar navbar">
  <%= link_to 'facebook', root_path, class: "login-nav text-white" %>
</nav>

<div class="login-wrapper">
  <pre class="login-slogan">Facebook helps you connect and share with the
people in your life.</pre>
  <img src="../../assets/fb.png" class="img-fluid" alt="Responsive image">
</div>
