<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'facebook', root_path, class: "navbar-brand text-white" %>
</nav>

<div class="wrapper">
  <pre class="slogan">Facebook helps you connect and share with the
people in your life.</pre>
  <img src="../../assets/fb.png" class="img-fluid" alt="Responsive image">
</div>
