<%= render 'nav' %>

<h1>Post Details</h1>

<p><strong>Content: </strong><%= @post.content %></p>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-outline-primary" %>
<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" },
class: "btn btn-outline-danger" %>
