@import "bootstrap";

.navbar {
  background-color: #3B5A98 !important;
}

.navbar-brand {
  padding-left: 27.6rem;
  padding-top: 0.7rem;
  height: 4.2rem;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: -3px;
}

h1 {
  color: red;
}
