@import "bootstrap";

body {
  background-color: #f0f2f5 !important;
}

.login {
  margin-top: 145px;
  margin-left: 200px;
}

.brand-text {
  color: #3077f2;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bolder;
  font-size: 3.4rem !important;
  margin-bottom: 0 !important;
  letter-spacing: -2.7px;
}

.login-slogan {
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 1.8rem;
}

.login-text {
  font-size: 1.1rem;
}

.navbar {
  margin-top: 0;
  background-color: #ffffff !important;
  height: 3.7rem;
  font-size: 0.9rem;
}

.my-text-brand {
  color: #3b5a98 !important;
  padding-left: 2rem;
  font-size: 2rem !important;
}

.my-text {
  font-size: 1.25rem !important;
  color: #3b5a98 !important;
}

.nav-link:hover {
  border-radius: 1rem;
  background-color: #f2f2f2;
}

.container {
  height: auto;
  margin-bottom: 5rem;
}

.card {
  height: auto !important;
  border-radius: 0.5rem !important;
}

.my-font-size {
  font-size: 1.5rem !important;
}

.my-color {
  background-color: lighten(#365899, 7) !important;
}

.my-color:hover {
  background-color: darken(#365899, 3) !important;
}

footer {
  width: 100%;
  height: 52px;
  bottom: 0 !important;
  position: fixed;
  background-color: #ffffff;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

footer p {
  margin-bottom: 0;
  color: #3b5a98;
}
